:root{
  font-size: 18px;
  color: #012D2B;
}
html{
  margin: 0 0;
  background-color: #D03E2B;
}
.flour-conversion{
  width: 500px;
  margin: auto;
  margin-top: 5em;
  background-color: #58BFBB;
  border: solid #012D2B 5px;
  border-radius: 3em;
  padding: 1em;
  box-shadow: 2px 3px 9px 1px #000;
}
.flour-conversion h1{
  text-align: center;
}
table{
  margin: auto;
}
td{
  width: 6em;
  text-align: center;
}
thead h2{
  padding: 0;
  margin: 0.2em;
}
input, select{
  border: solid 2px #012D2B;
  border-radius: 5px;
  font-weight: bold;
  text-align: right;
}

@media (max-width: 760px) { /* SMARTPHONE */
  :root{
    font-size: 8px;
  }
  .flour-conversion{
    width: auto;
  }
}
